<!-- 削除完了のサクセスメッセージを呼び出す -->
<div>
  <%= flash[:notice3] %>
</div>

<!-- 投稿一覧のタイトル -->
<h1>Books</h1>

<!-- 本のタイトル -->
  <p>Title</p>

<!-- 本の内容 -->
  <p>Body</p>

<!-- 投稿内容を全て(books)表示させる -->
<!-- eachでレコード分の処理を繰り返す -->
<% @books.each do |book| %>

<!-- 本のタイトルをレコード分繰り返す -->
  <span>
    <%= link_to book.title%>
  </span>
  
<!-- 本の内容をレコード分繰り返す -->
  <span>
    <%= link_to book.body%>
  </span>
  
<!-- showのリンクをレコード分繰り返す -->
　<span>
<!-- showのリンクを付与 -->
　  <%= link_to "Show", book_path(book.id) %>
　 </span>

<!-- Editのリンクをレコード分繰り返す -->
　<span>
<!-- Editのリンクを付与 -->
　  <%= link_to "Edit", edit_book_path(book.id) %>
　</span>

<!-- Destroyのリンクをレコード分繰り返す -->
　<span>
　  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
　</span>

<% end %>



<!-- 投稿と一覧が同じページに表示されるようにするため、下記を貼り付け -->
<h1>New book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<!-- form_with部分 -->
<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %>
  
<% end %>